<!-- <div class="row">
    <div class="col-lg-8">
        <div class="card">
            
                <img id="banner" src="../../../../assets/img/home-banner.jpg" alt="">
        </div>
            
        
    </div>
   
</div> -->



<!-- <div class="row">
    <div class="col-lg-12 p-r-0 text-center">
        <div class="page-header">
            <div class="page-title">
                <h1>BÁO CÁO - GIÁM SÁT</h1>
                <p>CHƯƠNG TRÌNH MỤC TIÊU QUỐC GIA GIAI ĐOẠN 2021 - 2025</p>
                <p>CHƯƠNG TRÌNH MTQG PHÁT TRIỂN KTXH VÙNG ĐỒNG BÀO DTTS VÀ MIỀN NÚI</p>
            </div>
        </div>
    </div>
   
</div> -->





<div class="row" style="margin-top: 0.5%;">
    <div class="col-lg-12">
        <div class="card alert">

            <img id="banner" width="100%" src="../../../../assets/img/BANNER PAKN DTTS_MN.png" alt="">

        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="stat-widget-five">
                <div class="stat-icon">
                    <i class="ti-file bg-success"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-heading color-success">Profit</div>
                    <div class="stat-text">3600000</div>
                </div>
            </div>
        </div>
    </div>

    
</div> -->


<!-- <div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
               
                    <div class="round-img">
                        <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                            nzSrc="../../../../assets/img/home-title-cell-1.png"></nz-avatar></a>
                    </div>
                    <label nz-checkbox>KẾ HOẠCH VỐN</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-3.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>NHIỆM VỤ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    
</div> -->
<div class="card-body">
    <!-- container-fluid d-flex justify-content-center -->
    <div class="container"> 
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <div class="page-header">
              <div class="page-title">
                
                  <h3 class="text-warning fw-bold">Kế HOẠCH THỰC HIỆN</h3>
                  <h4 class="text-warning fw-bold">(ĐẾN THỜI ĐIỂM HIỆN TẠI)</h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Refresh Dashboard</a></p>
            </div>
        </div>
    </div> -->
    
    
    <div class="row">
    
        <!-- Pie Chart -->
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 2</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    
        <!-- Line Chart -->
        <!-- <div class="col-sm-12 col-md-7">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Table</h4>
                    </div>
                </div>
                <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">
    
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đơn vị</th>
                                    <th>Được giao</th>
                                    <th>Đã phân bổ</th>
                                    <th>Tỷ lệ</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Thanh Hóa</td>
    
                                    <td>1000</td>
                                    <td>7500</td>
                                    <td>75%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>An Giang</td>
    
                                    <td>12000</td>
                                    <td>66600</td>
                                    <td>55%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Bắc Kạn</td>
    
                                    <td>11000</td>
                                    <td>5200</td>
                                    <td>47%</td>
    
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-nation text-center">
                                    <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li class="hidden-xs"><a href="#">6</a></li>
                                        <li class="hidden-xs"><a href="#">7</a></li>
                                        <li class="hidden-xs"><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="disabled hidden-xs"><span>...</span></li>
                                        <li>
                                        <li><a rel="next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
    
        <!-- Pie Chart -->
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    
        <!-- Line Chart -->
        <!-- <div class="col-sm-12 col-md-7">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Table</h4>
                    </div>
                </div>
                <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">
    
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đơn vị</th>
                                    <th>Được giao</th>
                                    <th>Đã phân bổ</th>
                                    <th>Tỷ lệ</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Thanh Hóa</td>
    
                                    <td>1000</td>
                                    <td>7500</td>
                                    <td>75%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>An Giang</td>
    
                                    <td>12000</td>
                                    <td>66600</td>
                                    <td>55%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Bắc Kạn</td>
    
                                    <td>11000</td>
                                    <td>5200</td>
                                    <td>47%</td>
    
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-nation text-center">
                                    <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li class="hidden-xs"><a href="#">6</a></li>
                                        <li class="hidden-xs"><a href="#">7</a></li>
                                        <li class="hidden-xs"><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="disabled hidden-xs"><span>...</span></li>
                                        <li>
                                        <li><a rel="next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
    
        <!-- Pie Chart -->
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    
        <!-- Line Chart -->
        <!-- <div class="col-sm-12 col-md-7">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Table</h4>
                    </div>
                </div>
                <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">
    
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đơn vị</th>
                                    <th>Được giao</th>
                                    <th>Đã phân bổ</th>
                                    <th>Tỷ lệ</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Thanh Hóa</td>
    
                                    <td>1000</td>
                                    <td>7500</td>
                                    <td>75%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>An Giang</td>
    
                                    <td>12000</td>
                                    <td>66600</td>
                                    <td>55%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Bắc Kạn</td>
    
                                    <td>11000</td>
                                    <td>5200</td>
                                    <td>47%</td>
    
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-nation text-center">
                                    <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li class="hidden-xs"><a href="#">6</a></li>
                                        <li class="hidden-xs"><a href="#">7</a></li>
                                        <li class="hidden-xs"><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="disabled hidden-xs"><span>...</span></li>
                                        <li>
                                        <li><a rel="next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
    
        <!-- Pie Chart -->
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    
        <!-- Line Chart -->
        <!-- <div class="col-sm-12 col-md-7">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Table</h4>
                    </div>
                </div>
                <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">
    
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đơn vị</th>
                                    <th>Được giao</th>
                                    <th>Đã phân bổ</th>
                                    <th>Tỷ lệ</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Thanh Hóa</td>
    
                                    <td>1000</td>
                                    <td>7500</td>
                                    <td>75%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>An Giang</td>
    
                                    <td>12000</td>
                                    <td>66600</td>
                                    <td>55%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Bắc Kạn</td>
    
                                    <td>11000</td>
                                    <td>5200</td>
                                    <td>47%</td>
    
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-nation text-center">
                                    <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li class="hidden-xs"><a href="#">6</a></li>
                                        <li class="hidden-xs"><a href="#">7</a></li>
                                        <li class="hidden-xs"><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="disabled hidden-xs"><span>...</span></li>
                                        <li>
                                        <li><a rel="next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
    
        <!-- Pie Chart -->
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Dự án 1</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    
        <!-- Line Chart -->
        <!-- <div class="col-sm-12 col-md-7">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Table</h4>
                    </div>
                </div>
                <div class="bootstrap-data-table-panel">
                    <div class="table-responsive">
    
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên đơn vị</th>
                                    <th>Được giao</th>
                                    <th>Đã phân bổ</th>
                                    <th>Tỷ lệ</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Thanh Hóa</td>
    
                                    <td>1000</td>
                                    <td>7500</td>
                                    <td>75%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>An Giang</td>
    
                                    <td>12000</td>
                                    <td>66600</td>
                                    <td>55%</td>
    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Bắc Kạn</td>
    
                                    <td>11000</td>
                                    <td>5200</td>
                                    <td>47%</td>
    
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-nation text-center">
                                    <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li class="hidden-xs"><a href="#">3</a></li>
                                        <li class="hidden-xs"><a href="#">4</a></li>
                                        <li class="hidden-xs"><a href="#">6</a></li>
                                        <li class="hidden-xs"><a href="#">7</a></li>
                                        <li class="hidden-xs"><a href="#">8</a></li>
                                        <li class="hidden-xs"><a href="#">9</a></li>
                                        <li class="disabled hidden-xs"><span>...</span></li>
                                        <li>
                                        <li><a rel="next" href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    
</div>

