<div class="row">
    <div class="col-lg-12 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Quản lý nhóm người dùng</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
   
    <!-- /# column -->
</div>
<!-- /# row -->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <div class="card-header pr">
                <h4>All Students </h4>
                <div class="search-action">
                    <div class="search-type dib">
                        <input class="form-control input-rounded" placeholder="#Roll type here..." type="text">
                    </div>
                    <div class="search-type dib">
                        <input class="form-control input-rounded" placeholder="Type section..." type="text">
                    </div>
                    <div class="search-type dib">
                        <input class="form-control input-rounded" placeholder="search" type="text">
                    </div>
                </div>
                <div class="card-header-right-icon">
                    <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table student-data-table m-t-20">
                        <thead>
                            <tr>
                                <th><label><input type="checkbox" value=""></label>Roll</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Parents Name</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Address</th>
                                <th>Date Of Birth</th>
                                <th>Mobile No</th>
                                <th>E-mail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2901</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/1.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Daniel Will
                                </td>
                                <td>
                                    Male</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2902</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/2.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Hasan
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Leo
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Ta-110 Canada
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    899509
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2903</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/3.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2904</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/1.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Shams Uddin
                                </td>
                                <td>
                                    Male</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2905</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/2.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2906</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/3.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2907</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/1.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2908</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/2.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2909</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/3.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2910</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2911</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/1.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2912</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Leo Shown
                                </td>
                                <td>
                                    Male</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2913</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/2.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2914</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2915</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/avatar/3.jpg" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Lew Shown
                                </td>
                                <td>
                                    Male</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2916</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2917</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" value=""></label>#2918</td>
                                <td>
                                    <div class="round-img">
                                        <a href=""><img src="assets/images/user-1.png" alt=""></a>
                                    </div>
                                </td>
                                <td>
                                    Richi Nazleo
                                </td>
                                <td>
                                    Female</td>
                                <td>
                                    David Smith
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    Dhaka-1200
                                </td>
                                <td>
                                    10/03/2013
                                </td>
                                <td>
                                    +985049
                                </td>
                                <td>
                                    Support@example.com
                                </td>
                                <td>
                                    <span><a href=""><i class="ti-eye color-default"></i></a> </span>
                                    <span><a href=""><i class="ti-pencil-alt color-success"></i></a></span>
                                    <span><a href=""><i class="ti-trash color-danger"></i> </a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div> -->



<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <div class="card-header">
                
                <div class="card-header-right-icon">
                    <!-- <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul> -->
                    <button (click)="showModal()" type="button"
                        class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>Tạo mới</button>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-group input-group-flat">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                class="ti-search"></i></button></span>
                                    <input type="text" class="form-control" placeholder="Search Default">
                                    <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon"
                                            type="submit"><i class="ti-close"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
        
                                            <th>Tên nhóm người dùng</th>
                                            <th>Chức năng gán nhóm</th>
        
        
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
        
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Báo cáo_phê duyệt,Bản đồ PAKN,Thống kê nhắc việc,Tra cứu PAKN
                                            </td>
                                            <td>
        
                                                <span><a (click)="showModal()"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a ><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
        
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Báo cáo_phê duyệt,Bản đồ PAKN,Thống kê nhắc việc,Tra cứu PAKN
                                            </td>
                                            <td>
        
                                                <span><a (click)="showModal()"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a ><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
        
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="page-nation text-center">
                                            <div class="m-t-30">Tổng số: 5</div>
                                            <ul class="pagination pagination-large">
                                                <li class="disabled"><span>«</span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li class="hidden-xs"><a href="#">3</a></li>
                                                <li class="hidden-xs"><a href="#">4</a></li>
                                                <li class="hidden-xs"><a href="#">6</a></li>
                                                <li class="hidden-xs"><a href="#">7</a></li>
                                                <li class="hidden-xs"><a href="#">8</a></li>
                                                <li class="hidden-xs"><a href="#">9</a></li>
                                                <li class="disabled hidden-xs"><span>...</span></li><li>
                                                <li><a rel="next" href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>


<nz-modal [nzWidth]="1000" [(nzVisible)]="isVisible" nzTitle="Tạo mới nhóm người dùng" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>


        <div class="card-body">
            <nz-tabset>
                <nz-tab nzTitle="Thông tin chung">
                    <div class="horizontal-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label required">Tên nhóm người dùng</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mô tả</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            
        
                        </form>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Gán chức năng vào nhóm">
                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Bản đồ PAKN
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Báo cáo_tạo mới
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Danh mục chức danh
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Danh mục sự kiện
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Loại đối tượng
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Nhắc việc_xem
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Quản lý nhắc việc
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Quản lý tổ chức
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Tra cứu PAKN
                        </div>

                    </div>
                    
                    

                </nz-tab>
                
              </nz-tabset>
           
        </div>



    </ng-container>
</nz-modal>