<div class="row">
    <div class="col-lg-12 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Quản lý phân quyền</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->

    <!-- /# column -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <div class="card-header">

                <div class="card-header-right-icon">
                    <!-- <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul> -->
                    <button (click)="showModal(-1)" type="button"
                        class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>Tạo mới</button>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-group input-group-flat">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                class="ti-search"></i></button></span>
                                    <input type="text" class="form-control" placeholder="Search Default">
                                    <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon"
                                            type="submit"><i class="ti-close"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <nz-table nzBordered
                                    class="table student-data-table table-hover table-striped table-bordered"
                                    #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listAccount">
                                    <thead>
                                        <tr>

                                            <th>Tên đăng nhập</th>
                                            <th>Tên đầy đủ</th>
                                            <th>Địa chỉ email</th>
                                            <th>Tổ chức</th>
                                            <th>Nhóm</th>
                                            <th>Số điện thoại</th>
                                            <th>Hoạt động</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
                                            <td class="text-center">
                                                {{data.username}}
                                            </td>
                                            <td class="text-center">
                                                {{data.ho}} {{data.ten}}
                                            </td>
                                            <td>
                                                {{data.email}}
                                            </td>
                                            <td>
                                                {{data.ten_to_chuc}}
                                            </td>
                                            <td>
                                                {{data.ten_nhom}}
                                            </td>
                                            <td>
                                                {{data.phone}}
                                            </td>
                                            <td class="text-center">
                                                <input  *ngIf="data.status == 'Hoạt động'" type="checkbox" value="" checked disabled>
                                                <input  *ngIf="data.status == 'Không Hoạt động'" type="checkbox" value="" disabled>
                                                
                                            </td>


                                            <td>

                                                <span nz-tooltip nzTooltipTitle="Chỉnh Sửa"><a (click)="showModal(data.id)"><i
                                                            class="ti-pencil-alt color-success"></i></a></span>
                                                <span nz-tooltip nzTooltipTitle="Xóa"><a (click)="deleteAccount(data.id)"><i
                                                            class="ti-trash color-danger"></i> </a></span>
                                                <span nz-tooltip nzTooltipTitle="Thay đổi mật khẩu"><a
                                                        (click)="showModal(-1)"><i
                                                            class="ti-lock color-warning"></i></a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                                <!-- <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>

                                            <th>Tên đăng nhập</th>
                                            <th>Tên đầy đủ</th>
                                            <th>Địa chỉ email</th>
                                            <th>Tổ chức</th>
                                            <th>Nhóm</th>
                                            <th>Số điện thoại</th>
                                            <th>Hoạt động</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                QuanTriHeThong
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                quantrihethong@gmail.com
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                0349849874
                                            </td>
                                            <td class="text-center">

                                                <input type="checkbox" value="" checked>

                                            </td>

                                            <td>

                                                <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                            class="ti-pencil-alt color-success"></i></a></span>
                                                <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                            class="ti-trash color-danger"></i> </a></span>
                                                <span nz-tooltip nzTooltipTitle="Thay đổi mật khẩu"><a
                                                        (click)="showModal()"><i
                                                            class="ti-lock color-warning"></i></a></span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                QuanTriHeThong
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                quantrihethong@gmail.com
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                0349849874
                                            </td>
                                            <td class="text-center">

                                                <input type="checkbox" value="" checked>

                                            </td>

                                            <td>

                                                <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                            class="ti-pencil-alt color-success"></i></a></span>
                                                <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                            class="ti-trash color-danger"></i> </a></span>
                                                <span nz-tooltip nzTooltipTitle="Thay đổi mật khẩu"><a
                                                        (click)="showModal()"><i
                                                            class="ti-lock color-warning"></i></a></span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                QuanTriHeThong
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                quantrihethong@gmail.com
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                            <td>
                                                Admin
                                            </td>
                                            <td>
                                                0349849874
                                            </td>
                                            <td class="text-center">
                                                
                                                    <input type="checkbox" checked>
                                                
                                                

                                            </td>

                                            <td>

                                                <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                            class="ti-pencil-alt color-success"></i></a></span>
                                                <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                            class="ti-trash color-danger"></i> </a></span>
                                                <span nz-tooltip nzTooltipTitle="Thay đổi mật khẩu"><a
                                                        (click)="showModal()"><i
                                                            class="ti-lock color-warning"></i></a></span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table> -->
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <div class="page-nation text-center">
                                            <div class="m-t-30">Tổng số: 5</div>
                                            <ul class="pagination pagination-large">
                                                <li class="disabled"><span>«</span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li class="hidden-xs"><a href="#">3</a></li>
                                                <li class="hidden-xs"><a href="#">4</a></li>
                                                <li class="hidden-xs"><a href="#">6</a></li>
                                                <li class="hidden-xs"><a href="#">7</a></li>
                                                <li class="hidden-xs"><a href="#">8</a></li>
                                                <li class="hidden-xs"><a href="#">9</a></li>
                                                <li class="disabled hidden-xs"><span>...</span></li>
                                                <li>
                                                <li><a rel="next" href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>


<nz-modal [nzWidth]="1200" [(nzVisible)]="isVisible" nzTitle="Tạo mới nhóm người dùng" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>


        <div class="card-body">
            <form class="form-horizontal" [formGroup]="uploadForm" enctype="multipart/form-data">
            <nz-tabset>
                <nz-tab nzTitle="Chi tiết">
                    <!-- <div class="horizontal-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label required">Tên nhóm người dùng</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mô tả</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            
        
                        </form>
                    </div> -->
                    <div class="horizontal-form-elements">
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Họ</label>
                                        <div class="col-sm-9">
                                            <input formControlName="ho" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Tổ chức</label>
                                        <div class="col-lg-9">
                                            <select formControlName="to_chuc" class="js-select2 form-control" id="val-select2"
                                                name="val-select2" style="width: 100%;"
                                                data-placeholder="Choose one..">
            
            
                                                
                                                <option *ngFor="let data of listToChuc; let i = index" [value]="data.id">{{data.ten_to_chuc}}</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Tên đăng nhập</label>
                                        <div class="col-sm-8">
                                            <input formControlName="username" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Mật khẩu</label>
                                        <div class="col-sm-9">
                                            <input formControlName="password" class="form-control" type="password" value="password">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="val-select2">Chức danh</label>
                                    <div class="col-lg-9">
                                        <select formControlName="chuc_danh" class="js-select2 form-control" id="val-select2"
                                            name="val-select2" style="width: 100%;"
                                            data-placeholder="Choose one..">
        
        
                                            
                                            <option value="Giám đốc">Giám đốc</option>
                                            <option value="Nhân viên">Nhân viên</option>
                                            
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Địa chỉ</label>
                                        <div class="col-sm-9">
                                            <!-- <nz-date-picker class="form-control"></nz-date-picker> -->
                                            <input formControlName="dia_chi" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Ngày cấp tài khoản</label>
                                        <div class="col-sm-9">
                                            <!-- <nz-date-picker class="form-control"></nz-date-picker> -->
                                            <input formControlName="ngay_tao" class="form-control" type="date">
                                        </div>
                                    </div>

                                </div>
                                <!-- /# column -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Tên</label>
                                        <div class="col-sm-8">
                                            <input formControlName="ten" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Nhóm người dùng</label>
                                        <div class="col-lg-8">
                                            <select formControlName="role" class="js-select2 form-control" id="val-select2"
                                                name="val-select2" style="width: 100%;"
                                                data-placeholder="Choose one..">
            
            
                                                
                                                <option *ngFor="let data of listGroupUser" [value]="data.id">{{data.ten_nhom}}</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Địa chỉ email</label>
                                        <div class="col-sm-9">
                                            <input formControlName="email" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Nhập lại mật khẩu</label>
                                        <div class="col-sm-8">
                                            <input formControlName="re_password" class="form-control" type="password" value="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Số điện thoại</label>
                                        <div class="col-sm-8">
                                            <input formControlName="phone" class="form-control" type="phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Hoạt động</label>
                                        <div class="col-sm-8">
                                            <input formControlName="status" type="checkbox" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Ngày hết hiệu lực</label>
                                        <div class="col-sm-8">
                                            <!-- <nz-date-picker class="form-control"></nz-date-picker> -->
                                            <input formControlName="ngay_het_han" class="form-control" type="date">
                                        </div>
                                    </div>

                                </div>
                                
                                    
                                        

                                    

                                


                                <!-- /# column -->
                            </div>
                            
                        
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Chọn nhóm chức năng">
                    <div class="row">
                        <div class="col-lg-4">
                            <div>
                                <label><input type="checkbox" value=""></label> Bản đồ PAKN
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Báo cáo_tạo mới
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Danh mục chức danh
                            </div>
    
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <label><input type="checkbox" value=""></label> Danh mục sự kiện
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Loại đối tượng
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Nhắc việc_xem
                            </div>
    
                        </div>
    
                        <div class="col-lg-4">
                            <div>
                                <label><input type="checkbox" value=""></label> Quản lý nhắc việc
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Quản lý tổ chức
                            </div>
                            <div>
                                <label><input type="checkbox" value=""></label> Tra cứu PAKN
                            </div>
    
                        </div>

                    </div>
                    



                </nz-tab>

            </nz-tabset>
        </form>

        </div>



    </ng-container>
</nz-modal>