<div class="header">
    <div class="pull-left">
        <div class="logo"><a
                ><!-- <img src="assets/images/logo.png" alt="" /> --><span style="color: rgb(0, 162, 255);">Tỉnh Thanh Hóa</span></a></div>
        <div nz-button nzType="primary" (click)="toggleCollapsed()" [ngClass]="{'is-active': isCollapsed === true}"
            class="hamburger sidebar-toggle">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <!-- <li class="header-icon dib"><a href="#search"><i class="ti-search"></i></a></li> -->
            <li nz-dropdown nzTrigger="click" [nzDropdownMenu]="thongBao" class="header-icon dib"><i
                    class="ti-bell"><span> Thông báo</span></i>

                <div class="drop-down">
                    <nz-dropdown-menu #thongBao="nzDropdownMenu">
                        <div nz-menu>
                        <div nz-menu-item class="dropdown-content-heading">
                            <span class="text-left">Recent Notifications</span>
                        </div>

                        <div class="dropdown-content-body">
                            <ul>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/481px-Cat03.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">5 members joined today </div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/481px-Cat03.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">likes a photo of you</div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/481px-Cat03.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg"
                                            alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </nz-dropdown-menu>
                </div>


            </li>
            <li nz-dropdown nzTrigger="click" [nzDropdownMenu]="nhacViec" class="header-icon dib"><i
                    class="ti-bag"><span> Nhắc việc</span></i>
                
                <div class="drop-down">
                    <nz-dropdown-menu #nhacViec="nzDropdownMenu">
                        <div nz-menu>
                        <div nz-menu-item class="dropdown-content-heading">
                            <span class="text-left">2 New Messages</span>
                            <!-- <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a> -->
                        </div>

                        <div class="dropdown-content-body">
                            <ul nz-menu>
                                <li nz-menu-item class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/1.jpg"
                                            alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/2.jpg"
                                            alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/481px-Cat03.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li nz-menu-item>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/2.jpg"
                                            alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Admin</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </nz-dropdown-menu>

                </div>

            </li>
            <li nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="header-icon dib"><img class="avatar-img"
                    src="../../../assets/img/User_icon-cp.svg.png" alt="" /> <span class="user-avatar">Nguyễn Xuân Quyến <i
                        class="ti-angle-down f-s-10"></i></span>
                <div class="drop-down dropdown-profile">
                    <div class="dropdown-content-heading">
                        <span class="text-left">Upgrade Now</span>
                        <p class="trial-day">30 Days Trail</p>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <div class="dropdown-content-body">
                            <ul nz-menu>
                                <li nz-menu-item [routerLink]="['/pages/userinfo']"><a><i class="ti-user"></i> <span class="avatar-item">Hồ
                                            sơ</span></a></li>


                                <li nz-menu-item [routerLink]="['/pages/changePassword']"><a><i class="ti-lock"></i> <span class="avatar-item">Cập nhật mật khẩu</span></a></li>
                                <li nz-menu-item [routerLink]="['/auth/login']"><a><i class="ti-power-off"></i> <span class="avatar-item">Đăng
                                            xuất</span></a></li>
                            </ul>
                        </div>
                    </nz-dropdown-menu>
                </div>
            </li>
        </ul>
    </div>
</div>