<!-- <div class="row">
    <div class="col-lg-8">
        <div class="card">
            
                <img id="banner" src="../../../../assets/img/home-banner.jpg" alt="">
        </div>
            
        
    </div>
   
</div> -->



<!-- <div class="row">
    <div class="col-lg-12 p-r-0 text-center">
        <div class="page-header">
            <div class="page-title">
                <h1>BÁO CÁO - GIÁM SÁT</h1>
                <p>CHƯƠNG TRÌNH MỤC TIÊU QUỐC GIA GIAI ĐOẠN 2021 - 2025</p>
                <p>CHƯƠNG TRÌNH MTQG PHÁT TRIỂN KTXH VÙNG ĐỒNG BÀO DTTS VÀ MIỀN NÚI</p>
            </div>
        </div>
    </div>
   
</div> -->





<!-- <div class="row" style="margin-top: 0.5%;">
    <div class="col-lg-12">
        <div class="card alert">

            <img id="banner" width="100%" src="../../../../assets/img/BANNER PAKN DTTS_MN (1).png" alt="">

        </div>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="stat-widget-five">
                <div class="stat-icon">
                    <i class="ti-file bg-success"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-heading color-success">Profit</div>
                    <div class="stat-text">3600000</div>
                </div>
            </div>
        </div>
    </div>

    
</div> -->


<!-- <div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
               
                    <div class="round-img">
                        <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                            nzSrc="../../../../assets/img/home-title-cell-1.png"></nz-avatar></a>
                    </div>
                    <label nz-checkbox>KẾ HOẠCH VỐN</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-3.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>NHIỆM VỤ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    
</div> -->
<div class="card-body">
    <!-- container-fluid d-flex justify-content-center -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-header">
                    <div class="page-title">

                        <h3 class="dashTitle">KẾ HOẠCH THỰC HIỆN</h3>
                        <h4 class="dashTitle">(ĐẾN THỜI ĐIỂM HIỆN TẠI)</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
 
    
    
    <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <span class="text-primary">Từ ngày - Đến ngày: <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker></span>
            </div>
    
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(1, ['01_DA1'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray1" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray1" [animation]="animation" [duAn]="'1'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(1, ['01_DA1'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray1" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray1" [animation]="animation" [duAn]="'1'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(2, ['02_DA2'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray2" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray2" [animation]="animation" [duAn]="'2'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(2, ['02_DA2'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray2" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray2" [animation]="animation" [duAn]="'2'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(3, ['03_DA3_01', '04_DA3_02_01', '05_DA3_02_02_02',
                        '06_DA3_02_03', '07_DA3_03'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray3" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray3" [animation]="animation" [duAn]="'3'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(3, ['03_DA3_01', '04_DA3_02_01', '05_DA3_02_02_02',
                        '06_DA3_02_03', '07_DA3_03'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray3" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray3" [animation]="animation" [duAn]="'3'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(4, ['08_DA4_01_01', '09_DA4_01_02'])">Xem chi tiết: </h4>
                        <app-chart1-ui  *ngIf="dataChartArray4" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray4" [animation]="animation" [duAn]="'4'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(4, ['08_DA4_01_01', '09_DA4_01_02'])">Xem chi tiết: </h4>
                        <app-chart2-ui  *ngIf="dataChartArray4" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray4" [animation]="animation" [duAn]="'4'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(5, ['11_DA5_01', '12_DA5_02', '13_DA5_03','14_DA5_04'])">Xem chi tiết: </h4>
                        <app-chart1-ui  *ngIf="dataChartArray5" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray5" [animation]="animation" [duAn]="'5'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(5, ['11_DA5_01', '12_DA5_02', '13_DA5_03','14_DA5_04'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray5" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray5" [animation]="animation" [duAn]="'5'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(6, ['15_DA6'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray6" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray6" [animation]="animation" [duAn]="'6'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(6, ['15_DA6'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray6" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray6" [animation]="animation" [duAn]="'6'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(7, ['16_DA7'])">Xem chi tiết: </h4>
                        <app-chart1-ui  *ngIf="dataChartArray7" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray7" [animation]="animation" [duAn]="'7'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(7, ['16_DA7'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray7" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray7" [animation]="animation" [duAn]="'7'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(8, ['17_DA8'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray8" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray8" [animation]="animation" [duAn]="'8'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(8, ['17_DA8'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray8" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray8" [animation]="animation" [duAn]="'8'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(9, ['18_DA9_01', '19_DA9_02'])">Xem chi tiết: </h4>
                        <app-chart1-ui  *ngIf="dataChartArray9" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray9" [animation]="animation" [duAn]="'9'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(9, ['18_DA9_01', '19_DA9_02'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray9" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray9" [animation]="animation" [duAn]="'9'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(10, ['20_DA10_01', '21_DA10_02', '22_DA10_03'])">Xem chi tiết: </h4>
                        <app-chart1-ui *ngIf="dataChartArray10" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray10" [animation]="animation" [duAn]="'10'"></app-chart1-ui>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-primary text-decoration-underline fst-italic" (click)="navigateRouteChild(10, ['20_DA10_01', '21_DA10_02', '22_DA10_03'])">Xem chi tiết: </h4>
                        <app-chart2-ui *ngIf="dataChartArray10" [color]="color" [moveAnimation]="true" [dataChart]="dataChartArray10" [animation]="animation" [duAn]="'10'"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>

    </nz-spin>






</div>