<!-- <div class="row">
    <div class="col-lg-8">
        <div class="card">
            
                <img id="banner" src="../../../../assets/img/home-banner.jpg" alt="">
        </div>
            
        
    </div>
   
</div> -->



<!-- <div class="row">
    <div class="col-lg-12 p-r-0 text-center">
        <div class="page-header">
            <div class="page-title">
                <h1>BÁO CÁO - GIÁM SÁT</h1>
                <p>CHƯƠNG TRÌNH MỤC TIÊU QUỐC GIA GIAI ĐOẠN 2021 - 2025</p>
                <p>CHƯƠNG TRÌNH MTQG PHÁT TRIỂN KTXH VÙNG ĐỒNG BÀO DTTS VÀ MIỀN NÚI</p>
            </div>
        </div>
    </div>
   
</div> -->




<!-- 
<div class="row" style="margin-top: 0.5%;">
    <div class="col-lg-12">
        <div class="card alert">

            <img id="banner" width="100%" src="../../../../assets/img/BANNER PAKN DTTS_MN (1).png" alt="">

        </div>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="stat-widget-five">
                <div class="stat-icon">
                    <i class="ti-file bg-success"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-heading color-success">Profit</div>
                    <div class="stat-text">3600000</div>
                </div>
            </div>
        </div>
    </div>

    
</div> -->


<!-- <div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
               
                    <div class="round-img">
                        <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                            nzSrc="../../../../assets/img/home-title-cell-1.png"></nz-avatar></a>
                    </div>
                    <label nz-checkbox>KẾ HOẠCH VỐN</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-3.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>NHIỆM VỤ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="container2">
                <div class="round-img">
                    <a> <nz-avatar style="margin: auto;" [nzSize]="60" nzIcon="user"
                        nzSrc="../../../../assets/img/home-title-cell-2.png"></nz-avatar></a>
                </div>
                <label nz-checkbox>DỰ ÁN ĐẦU TƯ</label>
            </div>
        </div>
    </div>
    
</div> -->
<div class="card-body">
    <!-- container-fluid d-flex justify-content-center -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-header">
                    <div class="page-title">

                        <h3 class="dashTitle">BÁO CÁO GIÁM SÁT BẰNG HÌNH ẢNH</h3>
                        <h4 class="dashTitle">(Thống kê đến thời điểm hiện tại)</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="footer">
                <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Refresh Dashboard</a></p>
            </div>
        </div>
    </div> -->


    <!-- <div class="row">

        
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 1: Xây trường cho em</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/tr-em-ngheo.jpg"
                            alt="" /></a>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">

                        <h4 class="fw-bold text-info">Dự án 2: Xây cầu</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/xay-cau.jpg" alt="" /></a>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 3: Xây dựng nhà máy thủy điện</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/thuy-dien.jpg" alt="" /></a>

                </div>
            </div>
        </div>

        
        
    </div> -->
    <!-- <div class="row">

        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 4: Nhà ở đồng bào dân tộc</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/nha-o-dong-bao.jpg"
                            alt="" /></a>


                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">

                        <h4 class="fw-bold text-info">Dự án 5: Làm đường cho đồng bào dân tộc</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/lam-duong.jpg" alt="" /></a>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 6: Xây nhà cho đồng bào dân tộc</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/xay-nha.jpg" alt="" /></a>


                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 8: Xây trường cho em</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/xay-truong.jpg"
                            alt="" /></a>


                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 7: Xây trường</h4>

                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/tr-em-ngheo.jpg"
                            alt="" /></a>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 9: Xây nhà</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/xay-nha.jpg" alt="" /></a>


                </div>
            </div>
        </div>

    </div>


    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="fw-bold text-info">Dự án 10: Xây trường</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#"><img height="100%" width="100%" src="../../../../assets/img/tr-em-ngheo.jpg"
                            alt="" /></a>

                </div>
            </div>
        </div>



    </div> -->

    <div class="main-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="card alert">
                    <div class="row">
                        
                            <div class="product-3-img">
                                <img  src="../../../../assets/img/tr-em-ngheo.jpg" alt="" />
                            </div>
                        
                            <div class="product_details_3">
                                <div class="product_name">
                                    <h3 class="fw-bold text-info">Dự án 1: Xây trường cho em</h3>
                                </div>
                                <div class="product_des m-t-8">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo ullam nihil atque nemo quam sint laboriosam. Officiis eveniet id, accusantium veritatis quam tempore fugiat doloremque facere doloribus vero totam.</p>
                                </div>
                                <div class="prdt_add_to_cart">
                                    
                                    <span class="badge badge-success">22/06/2023</span>
                                    <button type="button" class="btn btn-primary btn-rounded  m-l-10">Xem chi tiết</button>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <!-- /# card -->
            </div>
           
            <div class="col-lg-4">
                <div class="card alert">
                    <div class="row">
                        
                            <div class="product-3-img">
                                <img  src="../../../../assets/img/xay-cau.jpg" alt="" />
                            </div>
                        
                            <div class="product_details_3">
                                <div class="product_name">
                                    <h3 class="fw-bold text-info">Dự án 3: Xây dựng nhà máy thủy điện</h3>
                                </div>
                                <div class="product_des m-t-8">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo ullam nihil atque nemo quam sint laboriosam. Officiis eveniet id, accusantium veritatis quam tempore fugiat doloremque facere doloribus vero totam.</p>
                                </div>
                                <div class="prdt_add_to_cart">
                                    
                                    <span class="badge badge-success">22/06/2023</span>
                                    <button type="button" class="btn btn-primary btn-rounded  m-l-10">Xem chi tiết</button>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <!-- /# card -->
            </div>

            <div class="col-lg-4">
                <div class="card alert">
                    <div class="row">
                        
                            <div class="product-3-img">
                                <img  src="../../../../assets/img/thuy-dien.jpg" alt="" />
                            </div>
                        
                            <div class="product_details_3">
                                <div class="product_name">
                                    <h3 class="fw-bold text-info">Dự án 1: Xây trường cho em</h3>
                                </div>
                                <div class="product_des m-t-8">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo ullam nihil atque nemo quam sint laboriosam. Officiis eveniet id, accusantium veritatis quam tempore fugiat doloremque facere doloribus vero totam.</p>
                                </div>
                                <div class="prdt_add_to_cart">
                                    
                                    <span class="badge badge-success">22/06/2023</span>
                                    <button type="button" class="btn btn-primary btn-rounded  m-l-10">Xem chi tiết</button>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <!-- /# card -->
            </div>
            


        </div>
        
    </div>

</div>

    