<div class="row">
    <div class="col-lg-12 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Quản lý báo cáo</h1>
            </div>
        </div>
    </div>
    
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            <div class="card-header">
                
                <div class="card-header-right-icon">
                    <!-- <ul>
                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                            <ul class="card-option-dropdown dropdown-menu">
                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                            </ul>
                        </li>
                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                    </ul> -->
                    <button routerLink="/pages/bao-cao-hinh-anh/lap-bao-cao" type="button"
                        class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>Tạo mới</button>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-group input-group-flat">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                class="ti-search"></i></button></span>
                                    <input type="text" class="form-control" placeholder="Search Default">
                                    <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon"
                                            type="submit"><i class="ti-close"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            						
                                            <th>STT</th>
                                            <th>Tiêu đề</th>
                                            <th>Nội dung</th>
                                            <th>Kiến nghị</th>
                                            <th>Đối tượng</th>
                                            <th>Đơn vị liên quan</th>
                                            <th>Trạng thái</th>
        
        
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                abcd
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                admin
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            
                                            <td class="text-center">

                                                <span class="text-danger">Hết hạn</span>

                                            </td>

                                            <td>

                                                <div class="text-center">
                                                    <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                                class="ti-pencil-alt color-success"></i></a></span>
                                                    <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                                class="ti-trash color-danger"></i> </a></span>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                abcd
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                admin
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            
                                            <td class="text-center">

                                                <span class="text-success">Còn hạn</span>

                                            </td>

                                            <td>

                                                <div class="text-center">
                                                    <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                                class="ti-pencil-alt color-success"></i></a></span>
                                                    <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                                class="ti-trash color-danger"></i> </a></span>
                                                </div>

                                            </td>
                                        </tr>
        
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="page-nation text-center">
                                            <div class="m-t-30">Tổng số: 5</div>
                                            <ul class="pagination pagination-large">
                                                <li class="disabled"><span>«</span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li class="hidden-xs"><a href="#">3</a></li>
                                                <li class="hidden-xs"><a href="#">4</a></li>
                                                <li class="hidden-xs"><a href="#">6</a></li>
                                                <li class="hidden-xs"><a href="#">7</a></li>
                                                <li class="hidden-xs"><a href="#">8</a></li>
                                                <li class="hidden-xs"><a href="#">9</a></li>
                                                <li class="disabled hidden-xs"><span>...</span></li><li>
                                                <li><a rel="next" href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>


