<div class="pace-done" [ngClass]="{'sidebar-hide': isCollapsed == true}">

    <div [ngStyle]="{'margin-top': isCollapsed ? '4em' : ''}"
        class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano" class="nano" [ngClass]="{'has-scrollbar': isCollapsed === false}">
            <div class="nano-content" [ngStyle]="{'right': '-16px'}">
                <ul nz-menu [nzMode]="'vertical'" [nzInlineCollapsed]="isCollapsed">
                    <li nzSelected nz-menu-item [routerLink]="['/pages/home']" routerLinkActive="style_item_menu">

                        <span nz-icon nzType="home"></span>
                        <span>Trang chủ</span>
                        <!-- class="fs-1" -->
                    </li>
                    <ng-container *ngFor="let item of listMenuByRole">

                        <li nz-menu-item routerLink="{{item.routerLink}}" *ngIf="!item.children"
                            routerLinkActive="style_item_menu">

                            <span nz-icon [nzType]="item.icon"></span>
                            <span>{{item.screenName}}</span>
                        </li>


                        <li *ngIf="item.children" nz-submenu nzTitle="{{item.screenName}}" [nzIcon]="item.icon">
                            <ul>
                                <ng-container *ngFor="let item2 of item.children">
                                    <li routerLink="{{item2.routerLink}}" nz-menu-item *ngIf="!item2.children">
                                        {{item2.screenName}}</li>
                                    <li nz-submenu *ngIf="item2.children"
                                        [nzTitle]="item2.screenName" nzMenuClassName="custom-submenu">
                                        <ul>
                                            <ng-container *ngFor="let item3 of item2.children">
                                                <li routerLink="{{item3.routerLink}}" nz-menu-item>{{item3.screenName}}
                                                </li>
                                            </ng-container>

                                        </ul>
                                    </li>
                                </ng-container>


                            </ul>
                        </li>
                    </ng-container>

                </ul>
            </div>
        </div>
    </div>



    <app-header (statusEvent)="receiveStatus($event)"></app-header>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                
                <div id="main-content">
                    <ng-content selector="router-outlet"></ng-content>
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div> -->




</div>



<!-- <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://vcsvietnam.com/" target="_blank">
          <img src="https://vcsvietnam.com/uploads/GioiThieu/620ac741-6a33-4e5a-86a1-d966f847468flogo.png" alt="logo">
          <h1>Công ty VCS</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        
        <li routerLink="/pages/danh-sach-van-ban-chinh" nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
          <span nz-icon nzType="unordered-list"></span>
          <span>Danh sách văn bản chính</span>
        </li>
        <li #roundButtonOne routerLink="/pages/van-ban-chinh" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzSelected]="receivedData == 'van-ban-chinh'">
          <span nz-icon nzType="file-text"></span>
          <span>Thêm văn bản chính</span>
        </li>
        <li routerLink="/pages/huong-dan-lien-quan" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="group"></span>
          <span>Hướng dẫn liên quan</span>
        </li>
        <li routerLink="/pages/loai-van-ban-chinh" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="snippets"></span>
          <span>Loại văn bản chính</span>
        </li>
        <li routerLink="/pages/loai-CTDA" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="file"></span>
          <span>Loại chương trình dự án</span>
        </li>
        <li routerLink="/pages/hinh-thuc-van-ban" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="diff"></span>
          <span>Hình thức văn bản</span>
        </li>
        <li routerLink="/pages/loai-van-ban" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="copy"></span>
          <span>Loại văn bản</span>
        </li>
        <li routerLink="/pages/cap-ban-hanh" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="apartment"></span>
          <span>Cấp ban hành</span>
        </li>
        <li routerLink="/pages/cau-hoi" nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <span nz-icon nzType="question"></span>
          <span>Câu hỏi</span>
        </li>
       
      </ul>
    </nz-sider>
    <nz-layout style="max-height: fit-content; overflow: scroll;">
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
        </div>
      </nz-header>
      <nz-content>
          
            <div class="container-fluid">
              <div class="inner-content">
                
                <router-outlet></router-outlet>
            
          </div>
        </div>
  
      </nz-content>
    </nz-layout>
  </nz-layout> -->