<div class="row">
    <div class="col-lg-12 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Duyệt báo cáo</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
   
    <!-- /# column -->
</div>
<!-- /# row -->




<div class="row">
    <div class="col-lg-12">
        <div class="card alert">
            
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="input-group input-group-flat">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i
                                                class="ti-search"></i></button></span>
                                    <input type="text" class="form-control" placeholder="Search Default">
                                    <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon"
                                            type="submit"><i class="ti-close"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <nz-table nzBordered
                                class="table student-data-table table-hover table-striped table-bordered"
                                #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listBaoCaoHinhAnh">
                                <thead>
                                    <tr>

                                        <th>STT</th>
                                            <th>Tiêu đề</th>
                                            <th>Nội dung</th>
                                            <th>Kiến nghị</th>
                                            <th>Đối tượng</th>
                                            <th>Tổ chức</th>
                                            <th>Người tạo</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of rowSelectionTable.data; let i = index">
                                        <td  class="text-center">
                                            {{i}}
                                        </td>
                                        <td  class="text-center">
                                            {{data.tieu_de}}
                                        </td>
                                        <td>
                                            {{data.noi_dung}}
                                        </td>
                                        <td>
                                            {{data.kien_nghi}}
                                        </td>
                                        <td  class="text-center">
                                            {{data.doi_tuong}}
                                        </td>
                                        <td  class="text-center">
                                            {{data.ten_to_chuc}}
                                        </td>
                                        <td  class="text-center">
                                            {{data.ho}} {{data.ten}}
                                        </td>
                                        
                                        
                                        <td class="text-center">

                                            <span [ngClass]="{'text-danger': data.status === 'Không duyệt', 'text-success': data.status === 'Đã duyệt', 'text-warning': data.status === 'Chờ duyệt'}" class="text-danger">{{data.status}}</span>

                                        </td>

                                        <td>

                                            <div class="text-center">
                                                <span nz-tooltip nzTooltipTitle="Xem"><a (click)="navigateTaoBaoCao(data.id)"><i
                                                            class="ti-eye color-warning"></i></a></span>
                                                <span nz-tooltip nzTooltipTitle="Phê duyệt"><a (click)="showModal(data.id)"><i
                                                            class="ti-pencil-alt color-success"></i> </a></span>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                                <!-- <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>						
                                            <th>STT</th>
                                            <th>Tiêu đề</th>
                                            <th>Nội dung</th>
                                            <th>Kiến nghị</th>
                                            <th>Đối tượng</th>
                                            <th>Tổ chức</th>
                                            <th>Người tạo</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Báo cáo_phê duyệt,Bản đồ PAKN,Thống kê nhắc việc,Tra cứu PAKN
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>

                                                <div class="text-center">
                                                    <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                                class="ti-pencil-alt color-success"></i></a></span>
                                                    <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                                class="ti-trash color-danger"></i> </a></span>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Báo cáo_phê duyệt,Bản đồ PAKN,Thống kê nhắc việc,Tra cứu PAKN
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            
                                            <td>
                                                Nhóm phê duyệt báo cáo
                                            </td>
                                            <td>

                                                <div class="text-center">
                                                    <span nz-tooltip nzTooltipTitle="Sửa"><a (click)="showModal()"><i
                                                                class="ti-pencil-alt color-success"></i></a></span>
                                                    <span nz-tooltip nzTooltipTitle="Xóa"><a><i
                                                                class="ti-trash color-danger"></i> </a></span>
                                                </div>

                                            </td>
                                        </tr>
                                        
        
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="page-nation text-center">
                                            <div class="m-t-30">Tổng số: 5</div>
                                            <ul class="pagination pagination-large">
                                                <li class="disabled"><span>«</span></li>
                                                <li class="active"><span>1</span></li>
                                                <li><a href="#">2</a></li>
                                                <li class="hidden-xs"><a href="#">3</a></li>
                                                <li class="hidden-xs"><a href="#">4</a></li>
                                                <li class="hidden-xs"><a href="#">6</a></li>
                                                <li class="hidden-xs"><a href="#">7</a></li>
                                                <li class="hidden-xs"><a href="#">8</a></li>
                                                <li class="hidden-xs"><a href="#">9</a></li>
                                                <li class="disabled hidden-xs"><span>...</span></li><li>
                                                <li><a rel="next" href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
        
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>


<nz-modal [nzFooter]="modalFooter" [nzWidth]="1000" [(nzVisible)]="isVisible" nzTitle="Phê duyệt báo cáo hình ảnh" >
    <ng-container *nzModalContent>
        
            
                <div class="card-body">
                    <div class="horizontal-form">
                        
                           
                            <div class="form-group">
                                <label class="col-sm-4 control-label required">Chọn tình trạng phê duyệt</label>
                                <div class="col-sm-8">
                                    <nz-radio-group [(ngModel)]="status" class="form-control">
                                        <label nz-radio nzValue="0"><span class="text-danger">Không duyệt</span></label>
                                        <label nz-radio nzValue="2"><span class="text-warning">Chờ duyệt</span></label>
                                        <label nz-radio nzValue="1"><span class="text-success">Phê duyệt</span></label>
                                        
                                      </nz-radio-group>
                                </div>

                            </div>
                            
                            

                        
                    </div>
                </div>
            

        
    </ng-container>
    <ng-template #modalFooter>
        
        <button nz-button (click)="handleCancel()" nzType="default" class="btn btn-secondary" >Hủy</button>
        <button nz-button nzType="primary" (click)="handleOk()" class="btn btn-primary m-l-8">Lưu</button>
      </ng-template>
</nz-modal>