<div class="row">
    <div class="col-lg-12 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Cấu hình xem nhắc việc người dùng</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->

    <!-- /# column -->
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="card alert">
            <div class="card-header">
                <h4>Danh sách người dùng xem</h4>
                
            </div>
            <div class="card-body m-t-30">
                <div class="user-profile">
                    

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên đăng nhập</th>
                                            <th>Tên đầy đủ</th>
                                            <th>Điện thoại</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                0379172188
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                            
                                            
                                        </tr>
                                        <tr>

                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                0379172188
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                           
                                            
                                        </tr>
                                        <tr>

                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Quản Trị Hệ Thống
                                            </td>
                                            <td>
                                                0379172188
                                            </td>
                                            <td>
                                                Tổ chức 04
                                            </td>
                                            
                                            
                                        </tr>

                                    </tbody>
                                </table>
                                

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-4">
        <div class="card alert">
            <div class="card-header">
                <h4>Danh sách đối tượng</h4>
                
            </div>
            <div class="card-body m-t-30">
                <div class="user-profile">
                    

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table student-data-table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên đối tượng</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                1
                                            </td>
                                            <td>
                                                <label><input type="checkbox" value="" checked></label> Project Manager
                                            </td>
                                            
                                            
                                        </tr>
                                        

                                    </tbody>
                                </table>
                                

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                    
                    <div class="card-header-right-icon">
                        <!-- <ul>
                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                            <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                <ul class="card-option-dropdown dropdown-menu">
                                    <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                    <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                    <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                </ul>
                            </li>
                            <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                        </ul> -->
                        <button (click)="showModal()" type="button"
                            class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-save"></i>Lưu</button>
                    </div>
                
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>




<nz-modal [nzWidth]="1200" [(nzVisible)]="isVisible" nzTitle="Tạo mới nhóm người dùng" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>


        <div class="card-body">
            <nz-tabset>
                <nz-tab nzTitle="Chi tiết">
                    <!-- <div class="horizontal-form">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label required">Tên nhóm người dùng</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mô tả</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            
        
                        </form>
                    </div> -->
                    <div class="horizontal-form-elements">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Họ</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Tổ chức</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Mật khẩu</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="password" value="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Địa chỉ email</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Chức danh</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Ngày cấp tài khoản</label>
                                        <div class="col-sm-9">
                                            <!-- <nz-date-picker class="form-control"></nz-date-picker> -->
                                            <input class="form-control" type="date">
                                        </div>
                                    </div>

                                </div>
                                <!-- /# column -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Tên</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Tên đăng nhập</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Nhập lại mật khẩu</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="password" value="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Số điện thoại</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Hoạt động</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label required">Ngày hết hiệu lực</label>
                                        <div class="col-sm-9">
                                            <!-- <nz-date-picker class="form-control"></nz-date-picker> -->
                                            <input class="form-control" type="date">
                                        </div>
                                    </div>

                                </div>
                                
                                    
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label required">Địa chỉ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                    

                                


                                <!-- /# column -->
                            </div>
                        </form>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Chọn nhóm chức năng">
                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Bản đồ PAKN
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Báo cáo_tạo mới
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Danh mục chức danh
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Danh mục sự kiện
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Loại đối tượng
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Nhắc việc_xem
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div>
                            <label><input type="checkbox" value=""></label> Quản lý nhắc việc
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Quản lý tổ chức
                        </div>
                        <div>
                            <label><input type="checkbox" value=""></label> Tra cứu PAKN
                        </div>

                    </div>



                </nz-tab>

            </nz-tabset>

        </div>



    </ng-container>
</nz-modal>