
<div class="card-body">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-header">
                    <div class="page-title">

                        <h3 class="dashTitle">KẾT QUẢ THỰC HIỆN DỰ ÁN {{duAn.split('_').slice(1).join('_')}}</h3>
                        <h4 class="dashTitle">(ĐẾN THỜI ĐIỂM HIỆN TẠI)</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
 
    
    
    <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning">
       
        <!-- <ng-container *ngIf="dataChartArray.length > 0"> -->
        <div class="row" *ngFor="let child of dataChartArray; let i = index" >

            
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <app-chart1-ui *ngIf="child" [color]="color" [moveAnimation]="false"  [dataChart]="child" [animation]="animation" [duAn]="duAn.split('_').slice(1).join('_')"></app-chart1-ui>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <app-chart2-ui *ngIf="child" [color]="color" [moveAnimation]="false" [dataChart]="child" [animation]="animation" [duAn]="duAn.split('_').slice(1).join('_')"></app-chart2-ui>

                       

                    </div>
                </div>
            </div>
           
        </div>
    <!-- </ng-container> -->
        

    </nz-spin>






</div>